altgraph==0.17.4
certifi==2023.11.17
charset-normalizer==3.3.2
docopt==0.6.2
idna==3.6
numpy
packaging==23.2
pefile==2023.2.7
Pillow==10.1.0
pipreqs==0.4.13
psutil==5.9.6
PyAutoGUI==0.9.54
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
pyinstaller_versionfile
pynput==1.7.6
pyserial==3.5
python-dateutil==2.8.2
pywin32-ctypes==0.2.2
requests==2.31.0
screeninfo==0.8.1
setuptools==69.0.2
sib-api-v3-sdk==7.6.0
six==1.16.0
urllib3==2.1.0
yarg==0.1.9
